.season-display {
  width: 100%;
  height: 100vh;
}

.winter {
  background-color: aquamarine;
}
.summer {
  background-color: orange;
}

.winter i {
  color: blue;
}

.summer i {
  color: red;
}

.top {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.bottom {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.text {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
